h1
{
color:#c0c0c0;
font-family:"Arial Black", Gadget, sans-serif;
}
body
{
background-color:#000000;
}
.main
{
padding-top:50px;
padding-left:200px;
padding-right:200px;
}
.caption
{
padding-left:105px;
color:#808080;
}
.circular_dp
{
border-radius:50%;
}
.profile
{
float:left;
}
.image
{
float:left;
padding-left:200px;
}
.icons
{
padding-top:20px;
padding-left:12px;
}
.icons img
{
width:50px;
height:50px;
}

.botmdiv
{
}
.description
{
}
.description p
{
color:#8b4513;
clear:left;
font-size:20px;
padding-top:75px;
padding-left:75px;
padding-right:180px;
}
#linkedin_id
{
visibility:hidden;
background-color:black;
}
#github_id
{
visibility:hidden;
background-color:black;
}
#facebook_id
{
visibility:hidden;
background-color:black;
}
.hire
{
color:#8b4513;
padding-left:75px;
float:left;
}
.download
{
float:left;
padding-left:20px;
}
.download img{
width:100px;
padding-top:15px;
height:30px;
}